:root{
    --primary: #8b244b;
    --light:#ffffff;
    --ligh-blue:#f5f6fa;
    --grey:#eff2f7;
}

#sidebar-container{
    min-height: 100vh;
   /* margin-left: -18rem;*/
    transition: margin .25 ease-in-out;
}
#sidebar-container .logo{
    padding: .875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-container .menu{
    width: 18rem;
}

#content-wrapper.toggled #sidebar-container{
    margin-left:0;
}

/*@media(min-height:768px){
    margin-container{
        margin-left:0;
        width:100%;
    }*/
